.blog-container, .jumbotron, .nav {
    text-align: center;
    width: 50%;
    margin: auto;
    font-family: 'Baloo', cursive;
}

.navbar2 {
    background-color: midnightblue;
}
.openSKY {
    color: white;
    width: 50%;
    text-align: center;
}
.navbutton {
    background-color: white;
    color: midnightblue;
}

.btn:hover {
    text-decoration: none;
}
.navbar-collapse {
    background-color: lightgray;
}
.collapse {
    margin-top: 20px;
    width: 100%;
}
.imgsize {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right:auto;

    
}
.img-section {
    padding-top: 70px;
    display: block;
    margin-left: auto;
    margin-right:auto;
    
}